.detail-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

/* Stiluri pentru titluri în cadrul detaliilor */
.detail-title {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

/* Stiluri pentru paragrafele de detalii */
.detail-text {
    font-size: 16px;
    color: #666;
    line-height: 1.5;
    margin-bottom: 5px;
}

/* Container pentru butoane */
.detail-actions {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

/* Stiluri pentru butoanele de acțiune */
.detail-action-btn {
    text-decoration: none;
    padding: 10px 15px;
    margin: 0 10px;
    border-radius: 5px;
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #0056b3;
    border: none;
    cursor: pointer;
}

.detail-action-btn:hover {
    background-color: #004494;
}

.detail-delete-btn {
    background-color: #dc3545;
}

.detail-delete-btn:hover {
    background-color: #c82333;
}

.detail-back-btn {
    background-color: #6c757d;
}

.detail-back-btn:hover {
    background-color: #5a6268;
}
header {
    display: flex;
    background-color: #003366;
    color: #ffffff;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
}

h1 {
    margin: 0;
    text-decoration: none;
    color: white;

}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: #f9f9f9;
    color: #4a4a4a;
}

i {
    margin-right: 5px;
}