body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: #f9f9f9;
    color: #4a4a4a;
}

header {
    background-color: #003366;
    color: #ffffff;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    margin: 0;
    text-decoration: none;
    color: white;

}


.container {
    width: 90%;
    margin: 20px auto;
}

.actions {
    margin-bottom: 20px;
}

table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #007acc;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.button {
    display: inline-block;
    padding: 5px 10px;
    color: white;
    background-color: #007acc;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 5px;
}

i {
    margin-right: 5px;
}


/* Container pentru butoane */
.detail-actions {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

/* Stiluri pentru butoanele de acțiune */
.detail-action-btn {
    text-decoration: none;
    padding: 10px;
    border-radius: 6px;
    display: flex;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #0056b3;
    border: none;
    cursor: pointer;
}

.detail-action-btn:hover {
    background-color: #004494;}

.detail-delete-btn {
    background-color: #dc3545;
}

.detail-delete-btn:hover {
    background-color: #c82333;
}

.detail-back-btn {
    background-color: #6c757d;
}

.detail-back-btn:hover {
    background-color: #5a6268;
}

.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-forms {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.add-employee-form {
    margin-right: auto;
}

.search-by-id-form, .search-by-form {
    margin-left: 20px;
}


