
html, body {
    height: 100%;
    margin: 0;
    overflow: hidden; /* Previne scroll-ul vertical */
    font-family: Arial, sans-serif;
}

.sidebar {
    background-color: #343a40;
    color: white;
    padding: 10px;
    width: 200px;
    height: 100vh; /* Asigură că sidebar-ul ocupă întreaga înălțime */
    position: fixed; /* Sidebar-ul este fixat pe stânga */
    top: 0;
    left: 0;
    box-sizing: border-box; /* Include padding-ul și marginile în dimensiunile totale */
    border-right: 2px solid white; /* Adaugă marginea albă la dreapta */
}

.sidebar a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px 0;
}

.sidebar a:hover {
    text-decoration: underline;
}

.content {
    margin-left: 200px; /* Asigură că conținutul nu se suprapune cu sidebar-ul */
    width: calc(100% - 200px); /* Ajustează lățimea conținutului */
    height: 100vh; /* Asigură că conținutul ocupă întreaga înălțime */
    overflow: hidden; /* Previne scroll-ul vertical */
    display: flex;
    flex-direction: column;
}


.main-content {
    flex: 1 1 auto;
    overflow: hidden;
}

.carousel, .carousel-inner, .carousel-item {
    height: 100%; /* Asigură că caruselul și elementele sale ocupă întreaga înălțime */
    width: 100%; /* Asigură că caruselul și elementele sale ocupă întreaga lățime */
}

.carousel-item img {
    width: 100%; /* Asigură că imaginea ocupă întreaga lățime */
    height: 100%; /* Asigură că imaginea ocupă întreaga înălțime */
    object-fit: cover; /* Asigură că imaginile se încadrează perfect */
}

.header{
    background-color: #003366; /* Bleumarin */
    color: #ffffff;
    padding: 10px 20px;
    text-align: center;
    margin: 0;
    flex: 0 0 auto;
    border-bottom: 2px solid white; /* Adaugă marginea albă jos */
    border-right: 2px solid white; /* Adaugă marginea albă la dreapta */
    /*border-left: 2px solid white; !* Adaugă marginea albă la dreapta *!*/
}
