<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Add Salary</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/add-edit-employee.css}">
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
</head>
<body>
<header>
    <div class="hamburger-menu">
        <input id="menu__toggle" type="checkbox" />
        <label class="menu__btn" for="menu__toggle">
            <span></span>
        </label>

        <ul class="menu__box">
            <li><a class="menu__item" th:href="@{/}">Home</a></li>
            <li><a class="menu__item" th:href="@{/employees}">Employees</a></li>
            <li><a class="menu__item" th:href="@{/employees/salaries}">Salaries</a></li>
            <li><a class="menu__item" th:href="@{/employees/reports}">Reports</a></li>
        </ul>
    </div>
    <h1>Employee Management System</h1>
</header>
<div class="detail-container">
    <h1 class="detail-title">Add New Salary</h1>
    <form th:action="@{/employees/salaries/add}" th:object="${salary}" method="post">
        <label for="amount">Amount:</label>
        <input type="number" id="amount" name="amount" th:field="*{amount}" min="0" step="0.01" required/><br>

        <label for="effectiveDate">Effective Date:</label>
        <input type="date" id="effectiveDate" name="effectiveDate" th:field="*{effectiveDate}" required/><br>

        <label for="employeeId">Employee:</label>
        <select id="employeeId" name="employeeId" th:field="*{employee.id}" required>
            <option value="">Select Employee</option>
            <option th:each="employee : ${employees}" th:value="${employee.id}" th:text="${employee.id}+ '. ' +${employee.firstName} + ' ' + ${employee.lastName}"></option>
        </select><br>

        <button type="submit">Add Salary</button>
    </form>
</div>
</body>
</html>