<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" type="text/css" th:href="@{/css/details-employee.css}" />
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Employee Details</title>
</head>
<body>
<h1>Employee Details</h1>
<br>
<div>
  <p><strong>ID:</strong> <span th:text="${employee.id}"></span></p>
  <p><strong>First Name:</strong> <span th:text="${employee.firstName}"></span></p>
  <p><strong>Last Name:</strong> <span th:text="${employee.lastName}"></span></p>
  <p><strong>Email:</strong> <span th:text="${employee.email}"></span></p>
  <p><strong>Department:</strong> <span th:text="${employee.department}"></span></p>
  <p><strong>Date of Birth</strong>: <span th:text="${employee.dateOfBirth}"></span></p>
  <p><strong>Age</strong>: <span th:text="${employee.calculateAge()}"></span></p>
  <!-- Alte informații despre angajat pot fi adăugate aici -->
  <a th:href="@{'/employees/edit/' + ${employee.id}}" class="btn btn-primary">Edit</a>
  <form th:action="@{'/employees/delete/' + ${employee.id}}" method="post" onsubmit="return confirm('Are you sure you want to delete this employee?');" style="display: inline;">
    <button type="submit" class="btn btn-danger">Delete</button>
  </form>
  <a href="/employees" class="btn btn-secondary">Back to List</a>
</div>
</body>
</html>